<% if flash.now[:errors] %>
  <ul>
    <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% elsif flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
